.cuerpo {
     font-family: 'share';
     font-size: 12pt;
     height: 70vh;
     min-height: calc(768px * 0.70);
     min-height: -webkit-calc(768px * 0.70);
     min-height: -o-calc(768px * 0.70);
     overflow-y: scroll;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-template-rows: repeat(2, 1fr);
     gap: repeat(2, 5px);
     grid-template-areas:
     "a b"
     "a c"
     ;
}

.grid{
     max-width: 50vw;
}

.listado {
     grid-area: a;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     justify-items: center;
     align-items: center;
     overflow-y: auto;
}

.fila{
     display: contents;
}

.elemento {
     height: 2vh;
     max-height: 2vh;
     padding: 5px;
     margin: 5px 0px 5px 0px;
}

.marca > img {
     object-fit: cover;
     height: 5vh;
     width:auto;
}

.imagen {
     grid-area: b;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     align-content: center;
}

.imagen > img {
     object-fit: scale-down;
     width: 25%;
}

.ficha {
     grid-area: c;
     display: grid;
     grid-template-columns: 1fr 1fr;
     overflow-y: auto;
}