/* Paleta de colores y Código CSS extraída y generada en https://coolors.co/image-picker */
/* SCSS HEX */
/* $gray-x-11-gray: #BBBBBBff; */
/* $rosso-corsa: #DB0109ff; */
/* $platinum: #EBEBEBff; */
/* $black: #000000ff; */

/* SCSS HSL */
/* $gray-x-11-gray: hsla(0, 0%, 73%, 1); */
/* $rosso-corsa: hsla(358, 99%, 43%, 1); */
/* $platinum: hsla(0, 0%, 92%, 1); */
/* $black: hsla(0, 0%, 0%, 1); */

/* SCSS RGB */
/* $gray-x-11-gray: rgba(187, 187, 187, 1); */
/* $rosso-corsa: rgba(219, 1, 9, 1); */
/* $platinum: rgba(235, 235, 235, 1); */
/* $black: rgba(0, 0, 0, 1); */

/* SCSS Gradient */
/* $gradient-top: linear-gradient(0deg, #BBBBBBff, #DB0109ff, #EBEBEBff, #000000ff); */
/* $gradient-right: linear-gradient(90deg, #BBBBBBff, #DB0109ff, #EBEBEBff, #000000ff); */
/* $gradient-bottom: linear-gradient(180deg, #BBBBBBff, #DB0109ff, #EBEBEBff, #000000ff); */
/* $gradient-left: linear-gradient(270deg, #BBBBBBff, #DB0109ff, #EBEBEBff, #000000ff); */
/* $gradient-top-right: linear-gradient(45deg, #BBBBBBff, #DB0109ff, #EBEBEBff, #000000ff); */
/* $gradient-bottom-right: linear-gradient(135deg, #BBBBBBff, #DB0109ff, #EBEBEBff, #000000ff); */
/* $gradient-top-left: linear-gradient(225deg, #BBBBBBff, #DB0109ff, #EBEBEBff, #000000ff); */
/* $gradient-bottom-left: linear-gradient(315deg, #BBBBBBff, #DB0109ff, #EBEBEBff, #000000ff); */
/* $gradient-radial: radial-gradient(#BBBBBBff, #DB0109ff, #EBEBEBff, #000000ff); */

:root {
     --gray-x-11-gray: hsla(0, 0%, 73%, 1);
     --rosso-corsa: hsla(358, 99%, 43%, 1);
     --platinum: hsla(0, 0%, 92%, 1);
     --black: hsla(0, 0%, 0%, 1);
}