* {
     box-sizing: border-box;
     margin: 0px;
     padding: 0px;
}

html, body {
     min-width: 1024px;
     min-height: 768px;
}

a:link {
     text-decoration: none;
     color: var(--rosso-corsa);
}

a:link:hover {
     color: var(--platinum);
     background-color: var(--rosso-corsa);
}

button {
     cursor: pointer;
     font-family: "share";
     font-weight: normal;
     font-style: normal;
     font-size: 12pt;
     padding: 5px
}

button:hover {
     background-color: var(--gray-x-11-gray);
     color: black;
     font-weight: bold;
     font-style: italic;
}

button:checked {
     background-color: var(--rosso-corsa);
     color: var(--platinum);
}