@font-face {
     font-family: 'millennia';
     src: url('fonts/Millennia-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'share';
     src: url('fonts/Share-Bold-webfont.woff') format('woff');
     font-weight: bold;
     font-style: normal;
}

@font-face {
     font-family: 'share';
     src: url('fonts/Share-BoldItalic-webfont.woff') format('woff');
     font-weight: bold;
     font-style: italic;
}

@font-face {
     font-family: 'share';
     src: url('fonts/Share-Italic-webfont.woff') format('woff');
     font-weight: normal;
     font-style: italic;
}

@font-face {
     font-family: 'share';
     src: url('fonts/Share-Regular-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'sharetech';
     src: url('fonts/Share-Tech-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'sharetechmono';
     src: url('fonts/Share-TechMono-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}