footer {
     border: 1px red solid;
     width: 100%;
     height: 15vh;
     min-height: calc(768px * 0.15);
     min-height: -webkit-calc(768px * 0.15);
     min-height: -o-calc(768px * 0.15);
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: space-around;
     align-content: center;
     background-color: black;
     /* color: var(--platinum); */
     color: red;
}

.footer {
     text-align: center;
}