header {
     color: var(--gray-x-11-gray);
     width: 100%;
     background-color: black;
}

.infoSite {
     width: 100%;
     height: 15vh;
     min-height: calc(768px * 0.15);
     min-height: -webkit-calc(768px * 0.15);
     min-height: -o-calc(768px * 0.15);
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     align-items: center;
}

.logo {
     height: 100%;
     width: 15vw;
     min-width: calc(1024px * 0.15);
     min-width: -webkit-calc(1024px * 0.15);
     min-width: -o-calc(1024px * 0.15);
     text-align: center;
}

.logo > img {
     object-fit: cover;
     height: 100%;
     width: auto;
}

.name, .slogan {
     background: linear-gradient(180deg, var(--platinum) 0%, var(--platinum) 49%, var(--gray-x-11-gray) 51%, var(--gray-x-11-gray) 100%);
     -webkit-background-clip: text;
     background-clip: text;
     -webkit-text-fill-color: transparent;
     color: transparent;
     text-align: center;
     width: 85vw;
     min-width: calc(1024px * 0.85);
     min-width: -webkit-calc(1024px * 0.85);
     min-width: -o-calc(1024px * 0.85);
}

.name {
     font-family: 'millennia';
     font-size: 200%;
     height: 11vh;
}

.slogan{
     font-family: 'share';
     font-size: 100%;
     font-style: italic;
     font-weight: bold;
     min-width: calc(1024px * 0.3);
     min-width: -webkit-calc(1024px * 0.3);
     min-width: -o-calc(1024px * 0.3);
     height: 4vh;
}

nav {
     position: sticky;
     top: 0px;
     width: 100%;
     height: 4vh;
     margin: 0px;
     padding: 0px;
     background: rgb(0,0,0);
     background: linear-gradient(180deg, black 0%, var(--gray-x-11-gray) 20%, var(--gray-x-11-gray) 50%, var(--gray-x-11-gray) 80%, black 100%);
     
}

nav > ul {
     font-family: 'share';
     font-weight: bold;
     list-style: none;
     color: var(--rosso-corsa);
     height: 100%;
     font-size: 3vh;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
}

nav > ul > li {
     cursor: pointer;
     padding: 0px 10px 0px 10px;
}

nav > ul > li:hover {
     color: var(--platinum);
     background-color: var(--rosso-corsa);
}

nav > ul > li > ul {
     display: none;
     visibility: hidden;
     position: absolute;
     cursor: initial;
     list-style: none;
     background: var(--gray-x-11-gray);
     padding: 10px;
}

nav > ul > li:hover > ul,
nav > ul > li > ul:hover {
     visibility: visible;
     display: block;
}

nav > ul > li > ul > li {
     cursor: pointer;
     margin: 5px;
     padding: 5px;
     text-align: center;
     color: var(--rosso-corsa);
}

nav > ul > li > ul > li:hover {
     color: var(--platinum);
     background-color: var(--rosso-corsa);
}